@font-face {
    font-family: 'SWZ721N';
    src: url('swz721c-webfont.eot');
    src: url('swz721c-webfont.eot?#iefix') format('embedded-opentype'),
         url('swz721c-webfont.woff') format('woff'),
         url('swz721c-webfont.ttf') format('truetype'),
         url('swz721c-webfont.svg#Swis721CnBTRoman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SWZ721KC';
    src: url('swz721kc-webfont.eot');
    src: url('swz721kc-webfont.eot?#iefix') format('embedded-opentype'),
         url('swz721kc-webfont.woff') format('woff'),
         url('swz721kc-webfont.ttf') format('truetype'),
         url('swz721kc-webfont.svg#Swis721BlkCnBTBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}







p{font-family:SWZ721N!important; font-size:13px!important;}




/**inicio conteudo**/
.Container {
  position: absolute;
  top: 114px; left: 277px;
  width: 648px;
  height: 367px;
  background: #752E15;opacity:0.60;-moz-opacity: 0.60;filter: alpha(opacity=60)
}
#Scroller-1 { 
  position: absolute; 
  overflow: hidden;
  width: 648px;
  height: 367px;
}
#Scroller-1 p {
  margin: 0; padding: 10px 20px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  text-indent: 20px;
  text-align:left;
  color:#FFF;
}
.Scroller-Container {
  position: absolute;
  top: 0px; left: 0px;
}
#Scrollbar-Container {
  position: absolute;
  top: 97px; left: 577px;
}
.Scrollbar-Up {
  cursor: pointer;
  position: absolute;
}
.Scrollbar-Track {
  width: 20px; height: 161px;
  position: absolute;
  top: 36px; left: 4px;
  background: transparent url(images/scrollbar_track.gif) no-repeat center center;
}
.Scrollbar-Handle {
  position: absolute;
  width: 20px; height: 22px;
}
.Scrollbar-Down {
  cursor: pointer;
  position: absolute;
  top: 390px;
}
/**fim conteudo**/
/**-------------------------------------------------------------------------------------------------**/
/**MENU**/
#menu{width:180px;height:334px;background:#752E15;position:absolute;top:0;left:77px; z-index:20;}
#menu ul{margin:135px 0 0 28px;}
#menu li{font-size:17px; text-align:left!important;  padding:8px 0 0 0;}
#menu a{text-decoration:none; color:#FFF; font-family:SWZ721N; }
#menu a:hover {  font-family:SWZ721KC;}
#menu span{  font-family:SWZ721KC;}

#menu2{ position:absolute;background: url(../images/english.png) no-repeat; width:161px; height:27px; top:334px; left:77px; z-index:300;}
#menu2 li{font-size:13px; float:left; margin:2px 2px 0 2px; color:#FFF; font-family:SWZ721N; }
#menu2 ul{ padding:7px 0 0 18px;}
#menu2  h2{font-size:13px; float:left; padding:0 4px 0 4px; color:#FFF}
#menu2 a{text-decoration:none; color:#FFF; font-family:SWZ721N}
#menu2 a:hover {  font-family:SWZ721KC;}